{% extends 'main_area/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}Home{% endblock title %}
</head>
<body>
    {% block content %}
        <section class="top-container">
            <div class="top-container-info">
                <h3>Welcome To City Style Homes</h3>
                <h1>Let Us Take Care Of Your Home.</h1>
                <p>We are a commercial and residential real estate property<br>management and maintenance company.</p>
            </div>

        </section>

        <section class="AboutUs">
            <div class="about-image">
                <img src="{% static '/images/andrew-neel-cckf4TsHAuw-unsplash.jpg' %}" alt="">
            </div>

            <div class="about-info">
                <h2>Who Are We?</h2>
                <p>We  are an overseeing and management of various kinds of commercial and residential real estate properties. This includes taking of all daily operations for a property including collecting rent, handling home maintenance, tenant complaints and more. </p>
            </div>
        </section>


        <div class="topic">
            <h1>Discover Our Services</h1>
            <p>Learn more about all we offer at City Style Homes</p>
        </div>

        <section class="Services">

            <div class="service-tool">
                <img src="{% static '/images/undraw_online_ad_re_ol62.svg' %}" alt="">
                <h2>Marketing and Advertising</h2>
                <p>Property marketing of your property is crucial to the success of your investment. With our experienced team, they have the ability to attract high quality tenants.</p>
            </div>

            <div class="service-tool">
                <img src="{% static '/images/undraw_connecting_teams_re_hno7.svg' %}" alt="">
                <h2>Tenant Screening and Placement</h2>
                <p>Effective tenant screening processes are crucial for the success of your investment. Our tenant selection policy ensures only qualified applicants will see your property.</p>
            </div>

            <div class="service-tool">
                <img src="{% static '/images/undraw_transfer_money_re_6o1h.svg' %}" alt="">
                <h2>Rent Collection</h2>
                <p>Get your rent on time every month. Our rent collection process makes it easier for the tenants as we would want the process to be smooth and efficient.</p>
            </div>

            <div class="service-tool">
                <img src="{% static '/images/undraw_clean_up_re_504g.svg' %}" alt="">
                <h2>Inspections and Maintenance</h2>
                <p>Our scheduled property inspections and maintenance keep your investment property in good health. We will help you protect your investment, minimize costs and maximize income.</p>
            </div>

            <div class="service-tool">
                <img src="{% static '/images/undraw_election_day_w842.svg' %}" alt="">
                <h2>Tenant Eviction</h2>
                <p>Evictions are unpleasant and at times may get messy. We will resort to this method if all protocols have been exhausted in dealing with a difficult tenant.</p>
            </div>

            <div class="service-tool">
                <img src="{% static '/images/undraw_receipt_re_fre3.svg' %}" alt="">
                <h2>Financial Report</h2>
                <p>We provide you with the tools and resources to remain up to date with your properties. You have 24/7 access to your financial information. This allows you to make informed decisions, plan and prepare.</p>
            </div>

        </section>

        <div class="topic topic-beta">
            <h1>Reviews</h1>
            <p>Learn more about what our customers think of us.</p>
            <a href="{% url 'review' %}" class="btn">Add Review</a>
        </div>

        <section class="Services Services-beta">
            {% for rev in reviews %}
        

            <div class="service-tool">
                <img src="{{ rev.image.url }}" alt="">
                <h2>{{ rev.name }}</h2>
                <p>{{ rev.review }}</p>
            </div>
            {% empty %}
            {% endfor %}

            

        </section>

        <section class="banner">

            <div class="banner-info">
            <h1>Any Questions</h1>
            <p>If there is any questions on how what we do or how we operate,<br>then feel free to contact us.</p>
            <a href="{% url 'contact_us' %}" class="btn">Contact Us</a>
            </div>

        </section>
    {% endblock content %}
</body>
</html>